* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	user-select: none;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #fff;
	background: #262930;
	overflow: hidden;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}